@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway';
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.share {
  right: 20%;
}

.dots {
  display: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.image-container {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0;
  border-radius: 50%;
}

.profile-img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.profile-name {
  font-size: 1.5rem;
  font-weight: 700;
  color: #101828;
}

.link-container {
  width: 100%;
  background: #eaecf0;
  border-radius: .4rem;
  text-align: center;
  margin: 1rem 0;
}

.link-container a {
  text-decoration: none;
  font-weight: 700;
  font-size: .9rem;
  color: #101828;
}

.link-container a p {
  padding: 1rem;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 1rem 0;
  border-top: 1px solid #eaecf0;
}

.footer-text {
  text-align: center;
  font-size: .8rem;
  font-weight: 600;
  color: #8c94a3;
}

.kodeHauz {
  margin-left: auto;
}

@media (max-width: 780px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 568px) {
  .container {
    width: 95%;
  }
  .share {
    display: none;
  }
  .dots {
    display: block;
    right: 0;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  footer > *{
    margin: .7rem 0;
  }
  .kodeHauz {
    margin: 0;
    height: 2.5rem;
  }
}